.chatPanel{
    position:relative;
}
.chatWrapper{
/*.chatMain{*/
    position: fixed;
    bottom:10px;
    right:10px;
    z-index: 9999999 !important;
    /*background-color: green;*/
    background-color: #D43F3A;
    /*width: 270px;*/
    /*height: 380px;*/
    padding: 1px;
    /*display:inline-block;*/
}

.chatContainner{
    position:relative;
    /*display:inline-block;*/
    width:100%;
    height:100%;
}

.chatHistory{
    /*background-color:#E2FEF0;*/
    background-color: rgba(6,188,97,0.1);
    width:100%;
    height:100%;
}

#ulChatList{
    width:100%;
    height:100%;
}

.chatMessage{
    position:absolute;
    width:100%;
    height:28px;
    text-align:center;
    vertical-align: middle;
    right:0;
    bottom:0;
    background-color: red;
    padding: 1px 1px 1px 1px;
}
#txtMessage{
    width:100%;
    height: 26px;
    position:absolute;
    bottom:0;
    right:0;
    /*float:left;*/
    /*font-size:12px;*/
}
.chatPanel > div{
    display:inline-block;
}
.adminPanel{
    background-color: blue;
    /*position:fixed;*/
    right:0;
    /*top:0;*/
    width: 200px;
    /*height:100%;*/
    z-index:9999999 !important;
}
